<!-- This layout only loads JS, CSS etc., but does not wrap the content like in all other backend modules -->

<f:be.pageRenderer
	loadJQuery="true"
	jQueryNamespace="none"
	/>

<f:render section="headline" />

<f:flashMessages as="flashMessages">
	<div class="typo3-messages">
		<f:for each="{flashMessages}" as="flashMessage">
			<!-- The severity can unfortunately not automatically be converted to a string -->
			<div class="alert alert-info">
				<div class="media">
					<div>{flashMessage.title}</div>
					<div>{flashMessage.message}</div>
				</div>
			</div>
		</f:for>
	</div>
</f:flashMessages>

<f:render section="content" />
